@font-face {
    font-family: 'Noto Sans TC', sans-serif;
    src: url("../css/fonts/NotoSansKR-Black.otf")

}


.container {
    background-color: cadetblue;
}

.title {
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 42px;
    font-style: italic;
}

.table-align {
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    opacity: .8;

}


.table-half {
    border: 3px solid #000;
    background-color: silver;
    text-align: center;
    margin: 0 auto;
    padding: 2px 2px 2px 2px;

}

#table-half {
    font-family: 'Noto Sans TC', sans-serif;

}